html {
  overflow: hidden;
  background-color: #ff5a;
}

.Opponent {
	animation: rotation 3s infinite linear;
	-webkit-animation: rotation 3s infinite linear;
}

.paused .Opponent {
	animation: none;
	-webkit-animation: none;
}

@-webkit-keyframes rotation {
	from {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
	}
}

@keyframes rotation {
	from {
	  transform: rotate(0deg);
	  -webkit-transform: rotate(0deg);
	}
	to {
	  transform: rotate(359deg);
	  -webkit-transform: rotate(359deg);
	}
  }

@-ms-viewport {
	width: device-width;
  }

.gamebutton {
	border: none;
	background: #0b3954;
	color: #fcf4f4;
	padding: 10px 20px;
	outline: none;
	font-family: monospace;
	cursor: pointer;
}

.copyright {
	width: 229px;
	height: 27px;
	font-size: 12px;
}